/* In this files are some styles which are used in different components */


/*
    This is used to set a rounded white border around some content 
*/
.container-with-border{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--light);
    border-radius: 4px;
    box-sizing: border-box;
}

/*
Custom select arrow (applies globally to all selects)
*/
.select--arrow,
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'><path fill='%23000000' d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 1px center;
    background-size: 44px 44px;
    padding-right: 34px;
}

/*
Icons are used to represent actions by simple symbols
for example the +, -, x, <<, >> to open and close panels
*/
%icon-base {
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    vertical-align: middle;
    transition: background-color 0.3s, color 0.3s;
}

.icon {
    @extend %icon-base;
}

.icon--light {
    @extend %icon-base;
    color: var(--light);
}

.icon--dark {
    @extend %icon-base;
    color: var(--dark);
}

.icon--red {
    @extend %icon-base;
    color: var(--red);
}

/*
Buttons that contain icons should change the color of the icon on hover to 
indicate interactivity. The specific color change can be defined based on the 
design requirements, such as changing to a primary color or a lighter/darker shade.
*/
button:hover .icon--light,
button:hover .icon--dark {
    color: var(--primary);
}

// Define a base button class + modifier
.button-with-border {
  margin: 5px;
  padding: 5px;
  color: var(--dark); // Use the text color from the parent element
  float: right;
  background-color: var(--light);
  border: 1px solid var(--light);
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: var(--primary); // Change background color on hover
    //color: red; // Change text color on hover
  }
}

.button-with-border--red {
  @extend .button-with-border;
  color: var(--red); // Use the text color from the parent element
  border-color: var(--red);

  &:hover {
    background-color: lightpink; // Change background color on hover
    //color: red; // Change text color on hover
  }
}

// Input fields that are locked for editing should be visually distinct
  input.locked-input, textarea { 
    background: lightslategrey; 
  }
